/*

#006778 azul 1
#0093AB azul 2
#00AFC1 azul 3
#FFD124 amarillo

*/

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #444444;
    color: white;
    padding: 10px;
}

footer a, footer a:hover{
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .form-nav{
    display: none !important;
  }
}

#NavChef {
  padding-bottom: 8px;
}